h1 {
  color: blue;
}
h2 {
  color: #22c41d;
}
section {
  background-color: #e0dd11;
}

.czerwony {
  color: red;
}

#szkolenie {
  background-color: aqua;
}
.my-article p {
  background-color: beige;
  color: black;
} 

.about {
  color: brown;
}

section article a {
  color: inherit;
}